@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent horizontal overscroll */
}

body {
  overflow-y: auto; /* Enable vertical scrolling only if needed */
}

* {
  box-sizing: border-box;
}
